@page "/matches/details"
@using Microsoft.EntityFrameworkCore
@using DataAcess
@inject IDbContextFactory<FootballManagementSystem.Data.FootballManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Match</h2>
    <hr />
    @if (match is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">FinalScore</dt>
            <dd class="col-sm-10">@match.FinalScore</dd>
            <dt class="col-sm-2">HomeTeamScore</dt>
            <dd class="col-sm-10">@match.HomeTeamScore</dd>
            <dt class="col-sm-2">AwayTeamScore</dt>
            <dd class="col-sm-10">@match.AwayTeamScore</dd>
            <dt class="col-sm-2">AwayTeamName</dt>
            <dd class="col-sm-10">@match.AwayTeamName</dd>
            <dt class="col-sm-2">HomeTeamName</dt>
            <dd class="col-sm-10">@match.HomeTeamName</dd>
            <dt class="col-sm-2">StadiumID</dt>
            <dd class="col-sm-10">@match.StadiumID</dd>
            <dt class="col-sm-2">TeamID</dt>
            <dd class="col-sm-10">@match.TeamID</dd>
        </dl>
        <div>
            <a href="@($"/matches/edit?id={match.ID}")">Edit</a> |
            <a href="@($"/matches")">Back to List</a>
        </div>
    }
</div>

@code {
    private Match? match;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        match = await context.Match.FirstOrDefaultAsync(m => m.ID == ID);

        if (match is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
